@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap");
*,::before,after{
  box-sizing:border-box;
}
/* COLOR */
:root {
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;
  /* FONT */
  --normal-font-size: 1rem;
  --alarm-font-size: .7rem;
  --small-font-size: .5rem;
  }
h1 {
  margin: 0;;
}  
  /* --- */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  /* background: #252829;
  color: white; */
}

.app {
  min-height: 100vh;
  /* position: relative;
  background: #161616;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
}
